body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

select, input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

button {
    background: #a153eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #a153eb;
}

.resultado {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
}